<!-- <h1>OrderItem Form</h1>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="input-container">
        <mat-form-field>
            <mat-label>Order</mat-label>
            <input matInput formControlName="order" />
        </mat-form-field>
    </div>

    <div class="input-container">
        <mat-form-field>
            <mat-label>Product</mat-label>
            <input matInput formControlName="product" />
        </mat-form-field>
    </div>


    <div class="input-container">
        <mat-form-field>
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity" />
        </mat-form-field>
    </div>

    <div class="input-container">
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" />
        </mat-form-field>
    </div>


    

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
 -->





<!-- convert bootstrap -->

 <!-- <h1 style="text-align: center;">OrderItem Form</h1>
<div style="margin-left: 40%;">
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
        <div class="mb-3, col-md-4">
            <label for="order" class="form-label">Order</label>
            <select formControlName="order">
                <option *ngFor="let order of orders" [value]="order.id">{{order.customer?.firstName}}</option>
            </select>
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="product" class="form-label">Product</label>
            <select formControlName="product">
                <option *ngFor="let product of products" [value]="product.id">{{product.name}}</option>
            </select>
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="quantity" formControlName="quantity">
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" formControlName="price">
        </div><br>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->
