<!-- <h1>Customer Form</h1>
<form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="input-container">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
        </mat-form-field>
    </div>

    <div class="input-container">
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
        </mat-form-field>
    </div>

    <div class="input-container">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
        </mat-form-field>
    </div>

    <div class="input-container">
        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phoneNumber" />
        </mat-form-field>
    </div>

    <div class="input-container">
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" />
        </mat-form-field>
    </div>

    <div class="input-container">
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput formControlName="city" />
        </mat-form-field>
    </div>

    <div class="input-container">
        <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput formControlName="state" />
        </mat-form-field>
    </div>

    <div class="input-container">
        <mat-form-field>
            <mat-label>PostalCode</mat-label>
            <input matInput formControlName="postalCode" />
        </mat-form-field>
    </div>

    <div class="input-container">
        <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" />
        </mat-form-field>
    </div>

  
 
 
   
    <button mat-raised-button color="primary" type="submit">Submit</button>
</form> -->




<h1 style="text-align: center;">Customer Form</h1>
<div style="margin-left: 40%;" >
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
        <div class="mb-3, col-md-4">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="phoneNumber" class="form-label">Phone</label>
            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" formControlName="address">
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" formControlName="city">
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" id="state" formControlName="state">
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="postalCode" class="form-label">Postal Code</label>
            <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
        </div>
    
        <div class="mb-3, col-md-4">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" formControlName="country">
        </div><br>
    
        <div class="mb-3, col-md-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    
        
    </form>
</div>
