<!-- <div style="background-color: rgb(134, 80, 8); padding: 7px;">
    <div style="display: flex; justify-content: space-between; max-width: 1200px; align-items: center; margin: 0 auto;">
        <h2 style="color: aquamarine;">Store Management System</h2>
           <nav>
            <ul style="display: flex; gap: 25px;">
                <a routerLink=""></a>
                <a routerLink="customer-form">customer-form</a>
                <a routerLink="customer-list">customer-list</a>
                <a routerLink="employee-form">employee-form</a>
                <a routerLink="employee-list">employee-list</a>
                <a routerLink="supplier-form">supplier-form</a>
                <a routerLink="supplier-list">supplier-list</a>
            </ul>
           </nav>
    </div>
</div> -->

<router-outlet></router-outlet>